%link(href="css/datepicker.css" rel="stylesheet" media="screen")
%link(href="css/timePicker.css" rel="stylesheet" media="screen")

%h2 Sovitut ajat
%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Päivämäärä
      %th Alkaen klo
      %th Loppuen klo
      %th Pari
  %tbody
    - times_with_pair.each do |time|
      %tr.tr-link{onclick: "showTime(#{time[:id]})"}
        %td= time[:date]
        %td= time[:time_start].strftime("%H:%M")
        %td= time[:time_end].strftime("%H:%M")
        %td= time[:pair_username]
%br

%h2 Ajat ilman paria
%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Päivämäärä
      %th Alkaen klo
      %th Loppuen klo
  %tbody
    - times_without_pair.each do |time|
      %tr.tr-link{onclick: "showUnpairedTime(#{time[:id]})"}
        %td= time[:date]
        %td= time[:time_start].strftime("%H:%M")
        %td= time[:time_end].strftime("%H:%M")
%br

%form.form-inline(action="/addtime" method="post" onsubmit="return validateForm()")
  %h2 Lisää uusi aika
  %input.input-small(type="text" id="datepicker" name="date" readonly)
  %input(type="text" id="time1" style="width:50px" name="time_start" readonly)
  —
  %input(type="text" id="time2" style="width:50px" name="time_end" readonly)
  %button.btn(type="submit") Lisää

- if flash[:status_msg] == :time_added
  .alert.alert-success(id="alert-time-added")
    Aika lisätty onnistuneesti!
- if flash[:status_msg] == :pair_found
  .alert.alert-success(id="alert-pair-found")
    Ajallesi löytyi sopiva pari!

.alert.alert-error(id="alert-bad-time" style="display:none;")
  Päättymisajan on oltava myöhemmin kuin alkamisaika!

.modal.hide(id="timeModal" tabindex="-1" role="dialog" aria-labelledby="timeModalLabel" aria-hidden="true")
  .modal-header
    %h3 Ajan tiedot
  .modal-body
    %p Loading...

%a(href="#timeModal" role="button" class="btn" data-toggle="modal")asd

%script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
%script(src="js/bootstrap-datepicker.js")
%script(src="js/bootstrap.min.js")
%script(src="js/jquery.timePicker.js")

%p= "Aikaa kului #{(Time.now - beginning_time)*1000} ms."

:javascript
  $('#datepicker').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: true,
    language: 'fi'
  });

  $("#time1, #time2").timePicker({
    startTime: "07:00",
    endTime: "22:30"
  });

  $("#time1").change(function() {
    if ($("#time2").val())
      return;

    var time = $.timePicker("#time1").getTime();
    var hour = new Date(0, 0, 0, 1, 0, 0).getTime();
    $.timePicker("#time2").setTime(time);
  });

  function validateForm() {
    if ($.timePicker("#time1").getTime() > $.timePicker("#time2").getTime()) {
      $("#alert-bad-time").fadeIn();
      addFadeOut("#alert-bad-time");
      return false;
    }
    return true;
  }

  function addFadeOut(id) {
    window.setTimeout( function(){
      $(id).fadeOut();
    }, 3000);
  }

  addFadeOut("#alert-time-added");

  function showTime(id) {
    $('#timeModal').modal('show');
    $('#timeModal').load('/time/' + id);
  }

  function showUnpairedTime(id) {
    $('#timeModal').modal('show');
    $('#timeModal').load('/time/' + id + '?unpaired=true');
  }